# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
djenv/
venv/
.env/

# Django
local_settings.py
db.sqlite3
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backup files
*.bak
